# Python cache ve bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE/Editor
.vscode/
.idea/

# Log dosyaları
*.log

# OS dosyaları
.DS_Store
Thumbs.db

# Geçici/derleme dosyaları (opsiyonel)
build/
dist/
*.egg-info/

#kopyaları paylaşma
*copy*

#results klasörünü paylaşma
results/

